*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #dedede;
$mainTrans: all 0.5s ;


body {
  font-family: 'Lexend Deca', sans-serif;
  background: $mainWhite;
  color: $mainGreen;
  }